body{background-color: blueviolet;
    .padre{padding: 0px;
        border: 20px solid green;
        width: 100px;
       margin: 70px 70px 70px 70px}

    .hijo{padding: 0px;
        border: 30px solid blue;
        width: 40px;
       margin: 0px 0px 0px 0px}
    .hijo2{padding: 0px;
        border: 10px solid pink;
        width: 20px;
       margin: 0px 0px 0px 0px}


}