body{background-color: midnightblue;}
    h1{color: aqua;margin-left: 550px;}
    h3{margin:7px; color: purple; font-family: Georgia, 'Times New Roman', Times, serif;}
    h4{font-size: 28px;color: blueviolet;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
    h5{margin: 19px; color: red; font-family: Verdana, Geneva, Tahoma, sans-serif;}
    h2{color:whitesmoke; margin-right: 50px ;padding: 10px; border: 10px solid palevioletred;}
    .box{font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; background-color: aquamarine;height: 30px;margin: 30px;border: 10px solid black;width: 150px; padding: 20px;}
form{color:aliceblue}





